html {
  height: 100%;
}

body {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  min-height: 100vh;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
}

body input,
body textarea,
body button,
body select,
body label,
body a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1045px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

.body-inner {
  min-height: 100vh;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  min-width: 100px;
  min-height: 33px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  color: #ffffff;
  background-color: #336699;
  font-weight: 900;
  line-height: 33px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

@media (max-width: 575px) {
  .button {
    min-width: unset;
    font-size: 16px;
    padding: 0 8px;
  }
}

.main {
  margin-top: 43px;
}

.main__title {
  margin-bottom: 13px;
  line-height: 30px;
  font-size: 25px;
  color: #336699;
}

.main__profile-navigation {
  margin: 0 -5px 20px;
  max-width: 100%;
}

@media (max-width: 1199px) {
  .main__profile-navigation {
    margin-bottom: 15px;
  }
}

.main__profile-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px 20px;
  max-width: 100%;
}

.main__profile-navigation ul li {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

@media (max-width: 1199px) {
  .main__profile-navigation ul {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .main__profile-navigation ul {
    gap: 10px 15px;
  }
}

.main__profile-navigation a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 19px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  color: #336699;
  border: 3px solid #336699;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}

@media (max-width: 1199px) {
  .main__profile-navigation a {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #336699;
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }
}

@media (max-width: 1199px) {
  .main__profile-navigation a {
    font-size: 16px;
  }
}

.main__profile-navigation a.current {
  background-color: #336699;
  color: #ffffff;
}

.main__list {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .main__list {
    margin-bottom: 10px;
  }
}

.main__list .item {
  margin-bottom: 10px;
  border: 3px solid #336699;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}

@media (max-width: 1199px) {
  .main__list .item {
    border: 2px solid #336699;
  }
}

.main__list .item img {
  -webkit-border-radius: 12px;
          border-radius: 12px;
}

.main .button {
  padding: 0 16px;
  min-height: 48px;
  line-height: 48px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .main .button {
    padding: 0 12px;
    min-height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}

.breadcrumbs {
  padding: 5px 0;
  margin: 7px 0;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul li {
  margin-right: 14px;
  position: relative;
  text-decoration: underline;
  line-height: 13px;
  font-size: 12px;
  color: #999999;
}

.breadcrumbs ul li::after {
  position: absolute;
  right: -11px;
  content: "/";
}

.breadcrumbs ul li a {
  color: inherit;
}

.breadcrumbs ul li:last-child {
  margin-right: 0;
  text-decoration: none;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.item-page-navigation {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-page-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}

.item-page-navigation ul a {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 1199px) {
  .item-page-navigation ul a {
    font-size: 18px;
  }
}

.item-page-navigation ul .current {
  font-weight: 900;
}

.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.items .main__list {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tool-type {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .tool-type {
    margin-bottom: 20px;
  }
}

.tool-type ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 12px 15px;
}

.tool-type .button {
  padding: 0 10px;
  min-width: unset;
  font-size: 16px;
  line-height: 24px;
  min-height: 24px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #336699;
  color: #336699;
}

.tool-type .current {
  background-color: #336699;
  border-color: #336699;
  color: #ffffff;
}

.message {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 22px;
}

@media (max-width: 1199px) {
  .message {
    font-size: 19px;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .message {
    font-size: 18px;
    margin-top: 20px;
  }
}

.message--success {
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}

.message__title {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin-bottom: 20px;
  color: #336699;
  font-weight: 900;
  font-size: 72px;
}

@media (max-width: 1199px) {
  .message__title {
    font-size: 52px;
  }
}

@media (max-width: 767px) {
  .message__title {
    font-size: 40px;
  }
}

.message__text {
  margin-bottom: 30px;
  line-height: 1.25;
}

@media (max-width: 1199px) {
  .message__text {
    margin-bottom: 20px;
  }
}

.message__text span {
  color: #ff6600;
  font-weight: 500;
}

.message__action {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .message__action {
    margin-bottom: 20px;
  }
}

.message b {
  font-weight: 500;
}

.message a {
  position: relative;
  color: #336699;
  font-weight: 500;
}

.message a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #336699;
}

.message .button--liqpay {
  margin-bottom: 30px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  background-color: #33cc33;
  color: #ffffff;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}

.message .button--liqpay::after {
  content: none;
}

.filter {
  background-color: #e6e6e6;
}

.filter .container {
  padding: 5px 45px 4px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .filter .container {
    -webkit-box-pack: end;
    -webkit-justify-content: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media (max-width: 767px) {
  .filter .container {
    padding: 5px 20px 4px;
  }
}

.filter button {
  display: block;
  color: #336699;
  padding: 5px 8px;
  font-size: 18px;
  font-weight: 700;
  background-color: #e6e6e6;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #ffffff;
  border: none;
}

.filter .filter__change {
  width: 31px;
  height: 31px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url("../src/icons/sortuvannia.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #000000;
  width: 100%;
  background-color: #ffffff;
}

.header .container {
  position: relative;
  min-height: 43px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto 1fr auto;
      grid-template-columns: auto auto auto 1fr auto;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .header .container {
    -ms-grid-columns: auto auto 1fr auto;
        grid-template-columns: auto auto 1fr auto;
  }
}

.header .logo {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .header .logo {
    margin-right: 5px;
    max-width: 140px;
  }
  .header .logo img {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .header .logo img {
    max-width: 24px;
  }
}

.header .drop-menu .location {
  display: none;
}

.header .drop-menu__wrapper {
  width: 75px;
  height: 75px;
  padding: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ffffff;
}

@media (max-width: 1199px) {
  .header .drop-menu button span {
    display: none;
  }
  .header .drop-menu button img {
    display: block;
  }
  .header .drop-menu .location {
    display: block;
  }
}

.header .drop-menu--open .drop-menu__container {
  -webkit-transform: scale(1) translateX(-50%);
      -ms-transform: scale(1) translateX(-50%);
          transform: scale(1) translateX(-50%);
}

@media (max-width: 1199px) {
  .header .drop-menu--open .drop-menu__container--tools {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    width: -webkit-calc(100vw - 80px);
    width: calc(100vw - 80px);
    left: -5px;
  }
}

@media (max-width: 767px) {
  .header .drop-menu--open .drop-menu__container--tools {
    width: -webkit-calc(100vw - 40px);
    width: calc(100vw - 40px);
  }
}

@media (max-width: 1199px) {
  .header .drop-menu--tools {
    position: absolute;
    top: 48px;
    left: 45px;
  }
  .header .drop-menu--tools button span {
    display: block;
    color: #336699;
    padding: 5px 8px;
    font-size: 18px;
    font-weight: 700;
    background-color: #e6e6e6;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .header .drop-menu--tools {
    left: 25px;
  }
}

.header .drop-menu--tools .drop-menu__container ul > li > a {
  font-weight: 500;
  font-size: 16px;
}

.header .drop-menu--tools .drop-menu__container ul > li > a::before {
  content: none;
}

.header .drop-menu__list--tools {
  padding: 30px 50px 40px;
}

@media (max-width: 767px) {
  .header .drop-menu__list--tools {
    padding: 30px 0 40px;
  }
}

.header .drop-menu button {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header .drop-menu button::before {
  margin-right: 5px;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #336699;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (max-width: 1199px) {
  .header .drop-menu button::before {
    content: none;
  }
}

.header .drop-menu button::after {
  display: block;
  margin-left: 5px;
  content: "";
  width: 14px;
  height: 14px;
  background: url("../src/icons/arrow.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: 0 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1199px) {
  .header .drop-menu button::after {
    content: none;
  }
}

.header .drop-menu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 44px;
  z-index: 100;
  max-width: 965px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 965px;
  background-color: #e6e6e6;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  -webkit-transform: scale(0) translateX(-50%);
      -ms-transform: scale(0) translateX(-50%);
          transform: scale(0) translateX(-50%);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  overflow-y: auto;
  max-height: -webkit-calc(100vh - 43px);
  max-height: calc(100vh - 43px);
}

@media (max-width: 1199px) {
  .header .drop-menu__container {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}

.header .drop-menu__header {
  padding: 19px 25px 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #999999;
  font-weight: 700;
}

.header .drop-menu__header label {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
}

.header .drop-menu__header.drop-menu__country {
  padding: 7px 0 0;
}

.header .drop-menu__header.drop-menu__country a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.header .drop-menu__country {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #999999;
}

.header .drop-menu__country a,
.header .drop-menu ul > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  padding: 12px 25px;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.header .drop-menu__country a::before,
.header .drop-menu ul > li > a::before {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #336699;
}

.header .drop-menu ul {
  padding-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

@media (max-width: 1199px) {
  .header .drop-menu ul {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media (max-width: 767px) {
  .header .drop-menu ul {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (max-width: 767px) {
  .header .drop-menu ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.header .drop-menu .header__input {
  min-width: 350px;
  background-color: transparent;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.header .drop-menu .header__input::-webkit-input-placeholder {
  font-weight: 300;
  color: #000000;
}

.header .drop-menu .header__input:-ms-input-placeholder {
  font-weight: 300;
  color: #000000;
}

.header .drop-menu .header__input::-ms-input-placeholder {
  font-weight: 300;
  color: #000000;
}

.header .drop-menu .header__input::placeholder {
  font-weight: 300;
  color: #000000;
}

@media (max-width: 575px) {
  .header .drop-menu .header__input {
    min-width: 270px;
  }
}

.header .drop-menu .header__input-wrapper {
  position: relative;
}

.header .drop-menu .header__input-wrapper::after {
  position: absolute;
  content: "";
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../src/icons/poshuk-chorny.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  width: 22px;
  height: 22px;
}

.header .drop-menu__add {
  border-top: 1px solid #999999;
  padding: 12px 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #336699;
}

.header .drop-menu__add a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 16px;
}

.header .drop-menu__add a b {
  position: relative;
  top: -4px;
  font-size: 48px;
  line-height: 1;
  font-weight: 900;
}

.header .drop-menu__add a span {
  position: relative;
  text-decoration: underline;
}

.header form {
  width: 100%;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header form .button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
}

@media (max-width: 575px) {
  .header form .button {
    -webkit-border-radius: 7px;
            border-radius: 7px;
  }
}

.header form .button img {
  margin-left: 7px;
}

@media (max-width: 1199px) {
  .header form .button img {
    margin-left: 0;
  }
}

.header form input {
  width: 100%;
}

@media (max-width: 575px) {
  .header form input {
    display: none;
  }
}

@media (max-width: 1199px) {
  .header__search-button {
    min-width: unset;
  }
  .header__search-button span {
    display: none;
  }
  .header__search-button img {
    margin-left: 0;
  }
}

.header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.header nav > * {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

@media (max-width: 767px) {
  .header nav {
    -ms-grid-column-align: end;
        justify-self: end;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (max-width: 767px) {
  .header nav .add {
    font-size: 20px;
    min-width: unset;
    padding: 0 12px;
  }
}

.header nav .add span {
  margin-left: 5px;
}

@media (max-width: 767px) {
  .header nav .add span {
    display: none;
  }
}

.header__input {
  padding: 5px 10px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  border: 3px solid #336699;
}

.header__input::-webkit-input-placeholder {
  color: #999999;
}

.header__input:-ms-input-placeholder {
  color: #999999;
}

.header__input::-ms-input-placeholder {
  color: #999999;
}

.header__input::placeholder {
  color: #999999;
}

.footer {
  background-color: #336699;
  min-height: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 27px;
      grid-template-rows: 1fr 27px;
}

.footer .container div {
  padding: 12px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 95px;
}

@media (max-width: 1199px) {
  .footer .container div {
    gap: 55px;
  }
}

@media (max-width: 767px) {
  .footer .container div {
    gap: 30px;
  }
}

@media (max-width: 575px) {
  .footer .container div {
    gap: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .container div > a {
  margin-top: 5px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 25px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media (max-width: 767px) {
  .footer ul {
    gap: 15px 20px;
  }
}

@media (max-width: 575px) {
  .footer ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer ul .button {
  border: 1px solid #ffffff;
  padding: 0 13px;
  min-width: unset;
  font-weight: 500;
  font-size: 16px;
}

.footer ul .telegram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul .telegram img {
  margin-right: 15px;
}

.footer .politics {
  position: relative;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999999;
  background-color: #000000;
}

.item article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 141px 1fr;
      grid-template-columns: 141px 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1199px) {
  .item article {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (max-width: 767px) {
  .item article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.item__img {
  padding: 12px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .item__img {
    margin: 0 auto;
  }
}

.item__body {
  padding: 12px;
}

.item__title {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 32px;
  color: #336699;
}

@media (max-width: 1199px) {
  .item__title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .item__title {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.item__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
}

@media (max-width: 1199px) {
  .item__header {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 767px) {
  .item__header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.item__price {
  padding-top: 5px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  font-size: 28px;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  color: #336699;
}

@media (max-width: 1199px) {
  .item__price {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .item__price {
    margin-bottom: 10px;
    grid-column: 1/-1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.item__price span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.item__price span::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: -webkit-calc(100% - 25px);
  width: calc(100% - 25px);
  height: 2px;
  background-color: #336699;
}

.item__price svg {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  fill: #336699;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.item__description {
  margin-bottom: 9px;
  max-width: 86%;
  font-size: 17px;
  line-height: 1.25;
}

@media (max-width: 1199px) {
  .item__description {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .item__description {
    min-width: 100%;
    margin-bottom: 15px;
  }
}

.item__data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #999999;
  font-weight: 700;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

@media (max-width: 1199px) {
  .item__data {
    row-gap: 8px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    font-size: 15px;
  }
}

.item__data > *:not(p) {
  font-style: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.item__data > *::after {
  content: "";
  border-right: 2px solid #000000;
  border-color: #999999;
}

.item__data > *:last-child:after {
  content: none;
}

.item__footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content 1fr;
      grid-template-columns: -webkit-max-content -webkit-max-content 1fr;
      grid-template-columns: max-content max-content 1fr;
  gap: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

@media (max-width: 1199px) {
  .item__footer {
    -ms-grid-columns: max-content 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
  }
}

@media (max-width: 575px) {
  .item__footer {
    gap: 12px;
  }
}

.item__more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 40px;
}

@media (max-width: 1199px) {
  .item__more {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
  }
}

.item__more a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 5px 4px 3px;
  font-size: 17px;
  color: #336699;
  border: 2px solid #336699;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

@media (max-width: 1199px) {
  .item__more a {
    padding: 2px 5px 2px 3px;
    font-size: 15px;
  }
}

.item__more svg {
  width: 20px;
  height: 20px;
  fill: #336699;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.item__statistic {
  position: relative;
  padding: 6px 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  background-color: #ff6600;
  color: #ffffff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

@media (max-width: 1199px) {
  .item__statistic {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .item__statistic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
    -ms-grid-column-align: start;
        justify-self: start;
    grid-column: 1/-1;
  }
}

.item__statistic--disabled {
  background-color: #999999;
}

.item__statistic li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.item__statistic li::after {
  content: "";
  width: 2px;
  height: 90%;
  background-color: #ffffff;
}

.item__statistic li:last-child:after {
  content: none;
}

.item__deactivate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 1199px) {
  .item__deactivate {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .item__deactivate {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.item__deactivate button {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: #ff6600;
}

@media (max-width: 575px) {
  .item__deactivate button {
    margin-right: 0;
  }
}

.item__deactivate button span {
  font-weight: 900;
}

.item__footer--bookmarks {
  -ms-grid-columns: max-content 1fr max-content max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content 1fr max-content max-content;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

@media (max-width: 1199px) {
  .item__footer--bookmarks {
    -ms-grid-columns: max-content 1fr max-content;
        grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
        grid-template-columns: max-content 1fr max-content;
  }
}

@media (max-width: 575px) {
  .item__footer--bookmarks {
    -ms-grid-columns: max-content 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
  }
}

.item__footer--bookmarks .star {
  margin-right: 10px;
  padding: 0;
  background-color: transparent;
  border: 0;
  fill: #336699;
}

@media (max-width: 575px) {
  .item__footer--bookmarks .star {
    -ms-grid-column-align: start;
        justify-self: start;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.item__footer--bookmarks .item__more {
  margin-right: 0;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 1199px) {
  .item__footer--bookmarks .item__more {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.item__footer--bookmarks .item__deactivate button {
  margin-right: 0;
}

.main-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page h1 {
  text-align: center;
  margin-top: 57px;
  margin-bottom: 30px;
  font-size: 75px;
  font-weight: 900;
  color: #336699;
}

@media (max-width: 1199px) {
  .main-page h1 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .main-page h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .main-page h1 {
    font-size: 34px;
  }
}

.main-page h1 span {
  font-weight: 300;
  color: #ff6600;
}

.main-page .go-to-telegram {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  gap: 12px;
}

@media (max-width: 1199px) {
  .main-page .go-to-telegram {
    margin-bottom: 35px;
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .main-page .go-to-telegram {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .main-page .go-to-telegram {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .main-page .go-to-telegram {
    margin-bottom: 25px;
  }
}

.main-page .go-to-telegram a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 9px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 3px solid #336699;
  font-weight: 900;
  color: #336699;
}

@media (max-width: 767px) {
  .main-page .go-to-telegram a {
    border-width: 2px;
  }
}

.main-page .go-to-telegram a svg {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  fill: #336699;
}

@media (max-width: 1199px) {
  .main-page .go-to-telegram a svg {
    width: 30px;
    height: 30px;
  }
}

.main-page .actions {
  margin-bottom: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .main-page .actions {
    margin-bottom: 45px;
    font-size: 30px;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}

@media (max-width: 767px) {
  .main-page .actions {
    margin-bottom: 35px;
    font-size: 26px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@media (max-width: 575px) {
  .main-page .actions {
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-page .actions a {
  display: block;
  padding: 20px 38px;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .main-page .actions a {
    padding: 15px 30px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    text-align: center;
  }
}

.main-page .actions a:first-child {
  background-color: #ff6600;
}

.main-page .actions a:last-child {
  background-color: #336699;
}

.main-page .text {
  margin-bottom: 75px;
  padding: 0 35px;
}

@media (max-width: 1199px) {
  .main-page .text {
    padding: 0 20px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .main-page .text {
    margin-bottom: 30px;
    padding: 0;
  }
}

.main-page .text p {
  margin-bottom: 36px;
  font-size: 24px;
}

@media (max-width: 1199px) {
  .main-page .text p {
    margin-bottom: 24px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .main-page .text p {
    margin-bottom: 22px;
    font-size: 18px;
  }
}

.main-page .text p:last-child {
  margin-bottom: 0;
}

.add__form {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1199px) {
  .add__form {
    margin-top: 18px;
  }
}

.add input,
.add textarea {
  position: relative;
  margin: 8px 15px 36px;
  padding: 11px 20px;
  background-color: #e6e6e6;
  border: 2px solid #ffffff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: 0px 0px 0px 14px #e6e6e6;
          box-shadow: 0px 0px 0px 14px #e6e6e6;
}

@media (max-width: 1199px) {
  .add input,
  .add textarea {
    margin: 8px 10px 25px;
    padding: 9px 15px;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 0px 10px #e6e6e6;
            box-shadow: 0px 0px 0px 10px #e6e6e6;
  }
}

@media (max-width: 575px) {
  .add input,
  .add textarea {
    line-height: 1.2;
    padding: 9px;
    font-size: 18px;
  }
}

.add textarea {
  margin-bottom: 44px;
}

@media (max-width: 1199px) {
  .add textarea {
    margin-bottom: 25px;
  }
}

.add__category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 767px) {
  .add__category {
    -ms-grid-columns: 1fr max-content;
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
  }
}

@media (max-width: 575px) {
  .add__category {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .add__category input {
    margin-bottom: 10px;
  }
}

.add__category button {
  position: relative;
  margin-top: 14px;
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #000000;
  font-family: inherit;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (max-width: 1199px) {
  .add__category button {
    font-size: 22px;
  }
}

@media (max-width: 575px) {
  .add__category button {
    margin: 10px 0 20px;
    font-size: 18px;
  }
}

.add__file {
  margin-bottom: 25px;
}

@media (max-width: 1199px) {
  .add__file {
    margin-bottom: 20px;
  }
}

.add__file p {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
  color: #999999;
}

@media (max-width: 1199px) {
  .add__file p {
    font-size: 18px;
  }
}

.add__file ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 24px;
}

@media (max-width: 575px) {
  .add__file ul {
    gap: 15px;
  }
}

.add__file-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 175px;
  height: 175px;
  color: #ffffff;
  background-color: #e6e6e6;
  -webkit-border-radius: 13px;
          border-radius: 13px;
  font-size: 36px;
  line-height: 0.9;
  font-weight: 900;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .add__file-label {
    width: 140px;
    height: 140px;
    font-size: 26px;
  }
}

@media (max-width: 575px) {
  .add__file-label {
    width: 120px;
    height: 120px;
    font-size: 22px;
  }
}

.add__file-label span {
  font-size: 99px;
}

@media (max-width: 1199px) {
  .add__file-label span {
    font-size: 75px;
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
  .add__file-label span {
    font-size: 60px;
  }
}

.add__rate {
  margin-bottom: 35px;
  padding: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 12px 25px;
  background-color: #e6e6e6;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  font-size: 26px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .add__rate {
    padding: 12px;
    margin-bottom: 27px;
    font-size: 22px;
  }
}

@media (max-width: 575px) {
  .add__rate {
    font-size: 20px;
  }
}

.add__rate label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #999999;
  cursor: pointer;
}

.add__rate label::before {
  margin-right: 8px;
  content: "";
  background-color: #ffffff;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.add__rate label::after {
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #ffffff;
  width: 23px;
  height: 31px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: url("../src/check.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: 0 0;
}

@media (max-width: 1199px) {
  .add__rate label::after {
    top: 0;
  }
}

.add__rate label span {
  margin-right: 10px;
  display: block;
  padding: 8px 11px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

@media (max-width: 1199px) {
  .add__rate label span {
    padding: 5px 10px;
  }
}

.add__rate input:checked + label::after {
  content: "";
}

.add__rate input:checked + label {
  color: #000000;
}

.add__address {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e6e6e6;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

@media (max-width: 1199px) {
  .add__address {
    margin-bottom: 27px;
  }
}

.add__address-input:first-child {
  margin-top: 0;
  margin-bottom: 7px;
}

.add__address-input:last-child {
  margin-bottom: 0;
}

.add__data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 767px) {
  .add__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.add__data input {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .add__data input {
    margin-bottom: 27px;
  }
}

.add__time {
  margin-bottom: 30px;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  background-color: #e6e6e6;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

@media (max-width: 1199px) {
  .add__time {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .add__time {
    -webkit-align-self: start;
        -ms-flex-item-align: start;
                -ms-grid-row-align: start;
            align-self: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 14px 20px 2px;
  }
}

@media (max-width: 575px) {
  .add__time {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
}

.add__time p,
.add__time span {
  font-size: 24px;
}

@media (max-width: 1199px) {
  .add__time p,
  .add__time span {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .add__time p,
  .add__time span {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .add__time p {
    -webkit-align-self: start;
        -ms-flex-item-align: start;
                -ms-grid-row-align: start;
            align-self: start;
    padding-left: 12px;
  }
}

@media (max-width: 575px) {
  .add__time p {
    margin: 0 auto 5px;
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .add__time span {
    line-height: 0.25;
    font-size: 24px;
  }
}

.add__time input {
  padding: 9px 20px;
  margin: 15px;
  line-height: 28px;
}

@media (max-width: 1199px) {
  .add__time input {
    padding: 6px 15px;
    margin: 10px;
  }
}

@media (max-width: 575px) {
  .add__time div {
    justify-self: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.add__place {
  margin-bottom: 30px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  background-color: #ff6600;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 19px 54px;
  font-size: 24px;
  font-weight: 900;
  border: none;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .add__place {
    margin-bottom: 25px;
    padding: 14px 40px;
    font-size: 20px;
  }
}

.general-statistic {
  min-width: 500px;
}

@media (max-width: 575px) {
  .general-statistic {
    min-width: unset;
  }
}

.general-statistic li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

@media (max-width: 1199px) {
  .general-statistic li {
    margin-bottom: 15px;
  }
}

.general-statistic li:last-child {
  margin-bottom: 0;
}

.general-statistic p:first-child {
  font-weight: 300;
}

.general-statistic p:last-child > span {
  font-weight: 300;
}

.statistic-wallet {
  min-width: 285px;
}

.statistic {
  background-color: #e6e6e6;
  padding: 24px 24px;
  font-size: 24px;
  -webkit-border-radius: 18px;
          border-radius: 18px;
}

@media (max-width: 1199px) {
  .statistic {
    padding: 20px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .statistic {
    padding: 14px;
    font-size: 18px;
  }
}

.profile-body {
  margin-top: 36px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 22px;
}

@media (max-width: 1199px) {
  .profile-body {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .profile-body {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .profile-body .street {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.profile-body form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-body form ul,
.profile-body form p {
  background-color: #e6e6e6;
  padding: 14px 25px;
  font-size: 24px;
  -webkit-border-radius: 18px;
          border-radius: 18px;
}

@media (max-width: 1199px) {
  .profile-body form ul,
  .profile-body form p {
    padding: 10px 15px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .profile-body form ul,
  .profile-body form p {
    font-size: 18px;
  }
}

.profile-body form ul span,
.profile-body form p span {
  color: red;
}

.profile-body form ul input,
.profile-body form p input {
  min-width: 330px;
}

@media (max-width: 1199px) {
  .profile-body form ul input,
  .profile-body form p input {
    min-width: unset;
  }
}

.profile-body form ul li {
  margin-bottom: 15px;
  gap: 10px;
}

.profile-body form ul li:last-child {
  margin-bottom: 0;
}

.profile-body form p {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
              -ms-grid-row-align: start;
          align-self: start;
  margin-bottom: 22px;
}

.profile-body form ul li,
.profile-body form p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 575px) {
  .profile-body form ul li,
  .profile-body form p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.profile-body form label {
  font-weight: 300;
}

.profile-body form input {
  padding: 8px 20px;
  background-color: #e6e6e6;
  border: 2px solid #ffffff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 24px;
}

@media (max-width: 1199px) {
  .profile-body form input {
    padding: 5px 15px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .profile-body form input {
    font-size: 18px;
  }
}

.profile-body form .button {
  padding: 0 40px;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
              -ms-grid-row-align: start;
          align-self: start;
  background-color: #ff6600;
  font-size: 24px;
  line-height: 56px;
}

@media (max-width: 1199px) {
  .profile-body form .button {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .profile-body form .button {
    font-size: 18px;
  }
}

.profile-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .profile-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .profile-title {
    font-size: 18px;
  }
}
