.main-page {
    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        text-align: center;
        margin-top: 57px;
        margin-bottom: 30px;
        font-size: 75px;
        font-weight: 900;
        color: $color-blue;
        @media (max-width: $width-tablet-large) {
            margin-top: 25px;
            margin-bottom: 20px;
            font-size: 50px;
        }
        @media (max-width: $width-tablet) {
            margin-top: 20px;
            margin-bottom: 15px;
            font-size: 40px;
        }
        @media (max-width: $width-mobile) {
            font-size: 34px;
        }
        span {
            font-weight: 300;
            color: $color-orange;
        }
    }
    .go-to-telegram {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        gap: 12px;
        @media (max-width: $width-tablet-large) {
            margin-bottom: 35px;
            font-size: 22px;
        }
        @media (max-width: $width-tablet) {
            flex-direction: column;
            margin-bottom: 30px;
            font-size: 20px;
        }
        @media (max-width: $width-mobile) {
            text-align: center;
        }
        @media (max-width: $width-mobile) {
            margin-bottom: 25px;
        }
        a {
            display: flex;
            align-items: center;
            padding: 5px 9px;
            border-radius: 20px;
            border: 3px solid $color-blue;
            font-weight: 900;
            color: $color-blue;
            transition: border 0.2s ease, color 0.2s ease;
            svg {
                transition: fill 0.2s ease;
            }
            &:hover {
                border-color: $color-blue-hover;
                color: $color-blue-hover;
                svg {
                    fill: $color-blue-hover;
                }
            }
            @media (max-width: $width-tablet) {
                border-width: 2px;
            }
            svg {
                margin-right: 5px;
                width: 40px;
                height: 40px;
                fill: $color-blue;
                @media (max-width: $width-tablet-large) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    .actions {
        margin-bottom: 85px;
        display: flex;
        column-gap: 100px;
        font-size: 40px;
        font-weight: 700;
        @media (max-width: $width-tablet-large) {
            margin-bottom: 45px;
            font-size: 30px;
            column-gap: 50px;
        }
        @media (max-width: $width-tablet) {
            margin-bottom: 35px;
            font-size: 26px;
            column-gap: 30px;
        }
        @media (max-width: $width-mobile) {
            gap: 10px;
            flex-direction: column;
        }
        a {
            display: block;
            padding: 20px 38px;
            border-radius: 24px;
            color: $color-white;
            transition: background-color 0.2s ease;
            @media (max-width: $width-tablet) {
                padding: 15px 30px;
                border-radius: 20px;
                text-align: center;
            }
        }
        a:first-child {
            background-color: $color-orange;
        }
        a:first-child:hover {
            background-color: $color-orange-hover;
        }
        a:last-child {
            background-color: $color-blue;
        }
        a:last-child:hover {
            background-color: $color-blue-hover;
        }
    }
    .text {
        margin-bottom: 75px;
        padding: 0 35px;
        @media (max-width: $width-tablet-large) {
            padding: 0 20px;
            margin-bottom: 45px;
        }
        @media (max-width: $width-mobile) {
            margin-bottom: 30px;
            padding: 0;
        }
        p {
            margin-bottom: 36px;
            font-size: 24px;
            @media (max-width: $width-tablet-large) {
                margin-bottom: 24px;
                font-size: 20px;
            }
            @media (max-width: $width-tablet) {
                margin-bottom: 22px;
                font-size: 18px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
